@model DetailsViewModel
@{
    ViewData["Title"] = "Сотрудники";
}
<h1>Сотрудник</h1>
<h2>@Model.Employee.Name</h2>
<h2>@Model.Employee.Speciality</h2>
<h2>@Model.Employee.Age</h2>
<h2>@Model.Employee.EmploymentDate</h2>
<h3>Задачи</h3>
<a href="~/Employees/Details/@Model.Employee.Id/Tasks">Создать</a>
<table class="table-condensed">
    <tr>
        <td>Описание</td>
        <td>Прогресс</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var task in Model.Tasks)
    {
<tr>
    <td>@task.Description</td>
    <td>@task.Progress</td>
    <td><a href="~/Employees/Details/@Model.Employee.Id/Tasks/Edit/@task.Id">Изменить</a></td>
    <td><a href="~/Employees/Details/@Model.Employee.Id/Tasks/Delete/@task.Id">Удалить</a></td>
</tr>
    }
</table>