@model ToDo.Entities.DTO.EmployeeDto
@{
    ViewData["Title"] = "Редактирование сотрудника";
}
<h1>Edit Page</h1>
<form method="post">
    <input type="hidden" value="@Model.Id"/>
    <input type="text" name="Name" value="@Model.Name"/>
    <input type="text" name="Speciality" value="@Model.Speciality"/>
    <input type="number" name="Age" value="@Model.Age"/>
    <input type="date" name="EmploymentDate" value="@Model.EmploymentDate"/>
    <input type="submit"/>
</form>
